:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    }
    
    body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Nunito Sans', sans-serif;
    }
    
    * {
        margin:0;
        padding:0;
    }
    
    #lasanha{
    
        padding: 20px;
        margin: 20px;
        position: relative;
    }
    
    
    .principal {
        background-image: url("./img/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
    }
    
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
    }